<link rel=”stylesheet” type=”text/css’ href=”style.css”>

html {
  height: 100%;
}

body {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  background-image: none;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #F0ECEE;
}

/* Style of title of site/link */
.leftnav a {
  float: left;
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  padding: 8px 0px;
  font-family: "Fira", Fira, sans-serif;
  font-weight: 400;
}

/* Style the list */
li {
  display: block;
  margin: 5px 0;
  font-size: 16px;
  font-family: "Fira", Fira, sans-serif;
  font-weight: 300;
}

/* Stly of the links in nav bar */
a {
  text-decoration: none;
  color: #88898B;
}

/* Change the color of links on hover */
a:hover {
    color: #FF4850;
}


/* Style of text in main text area. */
.maintext {
  font-family: "Fira", Fira, sans-serif;
  font-weight: 400;
  float: left;
  display: flex-wrap;
  width: 100%;
  color: #88898B;
  font-size: 14px;
  text-align: left;
}

/* Style heading of main text area*/
.maintext h1 {
  float: left;
  display: flex-wrap;
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
}

/* Style for buttons */
button {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 25px;
  width: 100%;
  font-size: 18px;
  background-color: #FF4850;
}

/* Style for button hover */
button:hover {
    color: #FF4850;
    background-color: #CCC;
}

/* Style for red text in title and heading*/
span.redtext {
  color: #FF4850;
}

/* PC Display styles */
@media only screen and (min-width: 768px) {

/* Hide breaks to align nav bar with "Adopt Me" title */
.hidden-ss {
  display: none !important;
}

html {
  height: 100%;
}

body {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  background-image: url("../images/bulldog.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #F0ECEE;
}

/* Formatting of nav bar */
flex-container.navigation {
  display: flex;
  justify-content: flex-end;
}

/* Style the links inside the navigation bar */
li {
  display: inline;
  padding: 10px 15px;
}

/* Style of text in main text area. */
.maintext {
  width: 45%;
  font-size: 18px;
}

/* Style for button */
button {
  padding: 10px 15px;
  width: auto;
  font-size: 14px;
}

}
